doctype html
html(lang='en')
  head
    block title
      title Indicius' Project Starter
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description' content='Indicius Project Starter')
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-config" content="/assets/head/browserconfig.xml")
    meta(name='theme-color', content='#00b5ec')
    link(rel='manifest' href='assets/head/manifest.json')
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/head/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/head/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/head/favicon-16x16.png")
    link(rel="manifest" href="/assets/head/site.webmanifest")
    link(rel="mask-icon" href="/assets/head/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/head/favicon.ico")
    if production
      link(rel='stylesheet', href='assets/css/vendor.min.css')
      link(rel='stylesheet', href='assets/css/main.min.css')
    else
      link(rel='stylesheet', href='assets/css/vendor.css')
      link(rel='stylesheet', href='assets/css/main.css')
    block head
      //- If extra head content is necessary per page, it can be added per screen

  body
    include includes/mixins
    include ../components/menu
    block content
      //- This gets replaced by content per page

    include ../components/footer
    block footer
      //- If extra footer content is necessary per page, it can be added per screen

    if production
      script(src='assets/js/main.min.js')
    else
      script(src='assets/js/main.js')
    block scripts
      //- Also if more scripts are needed you can hook in here <3
