//
// Indicius' Project Starter
//

// Remove all these styles and start adding your own.
// Add here your general styles like:
// body {
//   font-family: your-font;
// }

body {

  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: #00b5ec;
    color: #FFF;
    font-size: 24px;
    text-align: center;

    h1 {
      font-size: 52px;
      line-height: 1.2em;
    }

    .logo {

      svg {
        width: 125px;
        height: auto;

        * {
          fill: #FFF;
        }
      }
    }
  }
}

